table {
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  td {
    &.btn-feedback {
      button {
        border: 1px solid #ff9f43;
        padding: 5px;
        border-radius: 3px;
        background-color: transparent;
        transition: .2s all ease-in-out;
        font-size: 13px;

        &:hover {
          background-color: #474747;
        }
      }
    }

    &.align-center {
      text-align: center;
    }

    &.nome {
      max-width: 260px;
    }
  }

  th {
    text-align: center;
  }

  ul {
    list-style: none;
    padding-left: 0;
    li {
      h5 {
        margin: 7px 0 0 0;
      }
      a {
        padding: 7px !important;
      }
    }
  }
}

.btn-danger {
  background-color: #ea5455 !important;
  border-color: #ea5455 !important;
  box-shadow: none !important;
}
.btn-outline-primary {
  padding: 15px;
  margin: 0 auto;
}