table {
  width: 100%;
  
  th, td {
    border: 1px solid #ddd;
    padding: 5px;
  }

  td {
    &.title {
      max-width: 330px;
    }
  }

  th {
    text-align: center;
  }

  tr {
    &.legal {
      background-color: #a85252;
      color: #000;

      &:hover {
        background-color: #a73c3c;
      }
    }
    &.open {
      background-color: #807807;
      color: #000;

      &:hover {
        background-color: #8f8d12;
      }
    }
    &.success {
      background-color: #509137;
      color: #000;

      &:hover {
        background-color: #348614;
      }
    }
  }
}

.btn {
  &-day {
    background-color: #449d44;
    color: #fff;
    font-size: 10pt;
    cursor: pointer;
    margin: 10px 0;
    text-align: center;
    padding: 3px;
    border-radius: 4px;
  }
  &-opening {
    background-color: #ec971f;
    font-size: 10pt;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
    text-align: center;
    padding: 3px;
    border-radius: 4px;
  }
  &-legal {
    background-color: #ec1f1f;
    font-size: 10pt;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
    text-align: center;
    padding: 3px;
    border-radius: 4px;
  }
}