select {
  padding: 5px;
  border-radius: 7px;
}

table {
  margin-top: 30px;
  thead {
    tr {
      th {
        padding: 20px 0;
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      td {
        &.id {
          padding: 5px;
        }
        &.btn-edit {
          padding: 0; 
          min-width: 100px;
          text-align: center;
        }

        &.danger {
          background-color: #e9aeae;
          color: #000;
        }
        &.warning {
          background-color: #fceda6;
          color: #000;
        }
        &.success {
          background-color: #b0eb99;
          color: #000;
        }
      }
    }
  }
}