table {
  width: 100%;
  &.agenda {
    tbody {
      tr {
        td {
          border: 1px solid #eee;
          width: 140px;
          height: 140px;
          position: relative;
          padding: 5px;
          div {
            &.day {
              position: absolute;
              top: 0;
            }
            &.commitment {
              display: none;
              &.active {
                display: block;
                p {
                  background-color: #ffae005b;
                  border-radius: 5px;
                  font-size: 12px;
                  padding: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}